ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  li {
    padding: 10px;
    margin: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
    list-style-type: none;
    justify-content: flex-start;
  }
  
  .card {
    margin: auto;
    padding: 5px;
    height: 100%;
    width: 100%;
    /* box-shadow: 5px 5px 10px #eccd44; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: #D8BFD8;
  }
  .card > img {
    width: 100%;
    height: 50%;
  }
  .card article {
    padding: 5px;
  }
  .card h3 {
    margin: 0;
    padding: 5px;
  }
  
  .card p {
    margin: 0;
    padding: 3x;
  }

  .card h2 {
    margin: 0;
   
  }
  